$dark_blue: #31255a;
$open_blue: rgb(192, 210, 223);//#5c93bd54;
$blue: #75b4e3;
$purple: #54416d;
$cream: #FFFDD0;


:export {
  dark_blue: $dark_blue;
  open_blue: $open_blue;//#5c93bd54;
  blue: $blue;
  purple:  $purple;
  cream: $cream;
}

