@import './colors.scss';

.navbar {
    background-color: $dark_blue;
}

.nav-link {
    color: rgba(255, 255, 255, 0.907) !important;
    cursor: pointer;
}

.nav-link.active {
    color: white !important;
    font-weight: bolder;
}

.nav-item.dropdown.active .nav-link {
    color: white !important;
    font-weight: bolder !important;
}